@{
    Layout = "";
}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->

<head>
	<title>Panel Administratora</title>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta charset="UTF-8" />

	<link rel="stylesheet" type="text/css" href="~/Content/admin/css/all.css">
</head>

<body>
	<!--[if lt IE 7]>
		<p class="chromeframe" style="background:#eee; padding:10px; width:100%">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<div class="flakes-frame">

		<div class="flakes-navigation">
			<a href="Index.html" class="logo">
				Encyklopedia
			</a>

			<p class="foot">
				Witaj, <b>Administratorze</b><br>
				<a href="">Moje konto</a> &bullet; <a href="">Wyloguj</a>
			</p>

            <ul>
                <li class="title">Akcje administratora</li>
                <li><a href="Users.html">Użytkownicy</a></li>
                <li><a href="Games.html">Baza gier</a></li>
                <li><a href="Categories.html">Baza tagów</a></li>
                <li><a href="Tickets.html">Zgłoszenia</a></li>
                <li><a href="Settings.html">Ustawienia strony</a></li>
            </ul>


		</div>

		<div class="flakes-content">

			<div class="flakes-mobile-top-bar">
				<a href="" class="logo-wrap">
					<img src="~/Content/admin/img/logo.png" height="30">
				</a>

				<a href="" class="navigation-expand-target">
					<img src="~/Content/admin/img/site-wide/navigation-expand-target.png" height="26">
				</a>
			</div>

			<div class="view-wrap">
				<h1>Witaj w panelu administratora</h1>

				<h3>Zanim zaczniesz</h3>
				<p>Upewnij się, że wiesz co robisz. Jesteś w panelu administratora, z tego poziomu bardzo łatwo jest zmienić lub usunąć dane, które mogą być niemożliwe do odzyskania.</p>

				<h3>W razie jakichkolwiek pytań skontaktuj się z administratorem głównym.</h3>

				<br>

				<div class="grid-1 gutter-40">
					<div class="span-1">
						<fieldset class="flakes-information-box">
							<legend>Statystyki strony</legend>
							<dl>
								<dt>Strona powstała</dt>
								<dd>17.05.2017</dd>
							</dl>
							<dl>
								<dt>Zarejestrowanych użytkowników</dt>
								<dd>542</dd>
							</dl>
							<dl>
								<dt>Wizyt dzisiaj</dt>
								<dd>43321</dd>
							</dl>
							<dl>
								<dt>Gier w bazie danych</dt>
								<dd>1332</dd>
							</dl>
							<dl>
								<dt>Nierozwiązanych zgłoszeń</dt>
								<dd>12</dd>
							</dl>
						</fieldset>
					</div>

				</div>

			</div>
		</div>
	</div>


	<link rel="stylesheet" type="text/css" href="~/Content/admin/bower_components/gridforms/gridforms/gridforms.css">

	<script src="~/Content/admin/bower_components/jquery/dist/jquery.js"></script>
	<script src="~/Content/admin/bower_components/snapjs/snap.js"></script>
	<script src="~/Content/admin/bower_components/responsive-elements/responsive-elements.js"></script>
	<script src="~/Content/admin/bower_components/gridforms/gridforms/gridforms.js"></script>

	<script src="~/Content/admin/js/base.js"></script>
</body>
</html>
